:root{
    --heading-font: Oswald, Arial, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: var(--heading-font);
   
}
p {
    font-family: var(--paragraph-font);
    
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    background: #2C3E50;
    color: white;
    text-align: center;
    
}
header h1 {
    margin-left: -100px;
    margin-top: 35px;
}
header img {
    border: 10px solid transparent;
}
nav {
    background-color: #F39C12;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    font-family: var(--paragraph-font);
  }
  nav  {

    list-style-type: none;
    display: flex;
    justify-content: flex-end;

  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: #C0392B;
  }
  nav a:hover {
    color: white;
    background-color:  #2C3E50;
  }
  #hero {
    text-align: center;
    color:  #2C3E50;
    height: 75%;
  }
  #grid_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 4em;
    padding: 0em 4em; /* Adjust to ensure content is not hidden behind the fixed header */
 
  }
  #gear_reviews, #safty_training {
    width: 100%;
    height: auto;
    background-color: #2C3E50;
    color: white;
    padding: 1em;
    text-align: center;
    margin: 25px;
  }
  img {
    width: 100%;
    height: auto;

  }
a {
    text-decoration: none;
    color: white;
}
footer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    align-items: left; /* Align items vertically */
    background-color: #F39C12;
    color: #2C3E50;
    margin-top: -50px;
}
footer h2 {
    margin:20px 50px;
}
footer p {
    flex-basis: 100%; /* Make the paragraph take up the full width */
    text-align: left; /* Align the text to the left */
    margin: 10px 50px; /* Remove extra margin for proper alignment */
}

.social a img {
    width: 50px; /* Adjust the size of the images */
    height: auto; /* Maintain aspect ratio */
    margin: 10px 50px; /* Adjust the spacing between the images */
}